<div class="wrapper">
  <div class="container">
    <h1>Sign in</h1>
    <a routerLink="/sign-up" class="text">Need an account?</a>
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="form">
      <input
        class="input"
        placeholder="email"
        type="text"
        formControlName="email"
        id="email"
      />
      <input
        placeholder="password"
        class="input"
        type="password"
        formControlName="password"
        id="password"
      />
      <div class="button">
        <button [disabled]="buttonDisabled" class="button-9" type="submit">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
